@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
}

body {
    min-height: 100vh;
    background-color: rgb(33, 33, 60);
}

button:hover {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
}

section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(0,0,0,0.4);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

a, a:visited {
    color: #fff;
}

input[type="text"],
input[type="password"],
input[type="email"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

.persistCheck {
    font-size: 0.75rem;
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.persistCheck label {
    margin: 0;
}

[type="checkbox"] {
    height: 20px;
    width: 20px;
    margin: 0 5px 2px 2px;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errorMessage {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.successMessage {
    background-color: rgb(107, 217, 108);
    color: rgb(9, 61, 21);
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.searchContainer {
    position: sticky;
    top: 0;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #f0f0f072;
    z-index: 100;
}

.sticky {
    position: sticky;
    top: 0;
    padding: 10px 0;
    z-index: 100;
}

.searchBar {
    width: 250px;
    padding: 10px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 5px;
    outline: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.searchBar[title]:hover::before {
    content: attr(title);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.searchButton {
    padding: 10px 20px;
    margin: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.userWaitlist,
.userCheckouts,
.searchResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.noResults {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* Optional: Set a height to vertically center the text within the container */
}

.searchNavButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.pageButtons {
    display: inline-block;
    padding: 8px 12px;
    margin: 5px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: inherit;
}

.checkoutButton, 
.waitlistButton {
    display: block;
    margin: 5px;
    width: 100%;
    max-width: 250px;
    margin-top: 10px;
}

.pageButtons:disabled {
    opacity: 0.3;
    background-color: #000;
} 

.refreshButton
.waitlistButton:disabled, 
.checkoutButton:disabled {
    opacity: 0.9;
}

.refreshButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bookContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: center;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    width: 90%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}

.bookDetailsImgContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bookImage {
    display: inline-block;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin-bottom: 5px;
    margin-right: 50px;
    width: 230px;
    /* Adjust the width as needed */
    height: 260px;
    /* Adjust the height as needed */
    overflow: hidden;
    border: 2px dashed;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}

.bookImage img {
    max-width: 100%;
    max-height: 100%;
}

.bookDetails {
    display: inline-block;
    text-align: left;
    margin-bottom: 20px;
    padding-right: 25px;
}

.bookActionButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.bookTitle {
    font-size: 1.45rem;
}

.descriptionContainer {
    width: 700px;
    height: 215px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.description {
    width: 700px;
    height: 215px;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.pageNumber {
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px;
}

.placeholderText {
    text-align: center;
    margin: 5px;
    padding: 10px;
}

.navLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.navLink {
    margin: 5px;
    padding: 10px;
}